@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Bongo_Cat_Cursor.png),
    default !important;
}

button {
  cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Bongo_Cat_Pointer.png),
    pointer !important;
}

.myPointer {
  cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Bongo_Cat_Pointer.png),
    pointer !important;
}

.myTransition {
  transition: all 0.3s;
}
